.navbar-container {
  background-color: #008b8b;
  padding: 20px;
  height: 100%;
}

.navbar-close-btn {
  padding: 10px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
}
