.todo-task-item {
  display: flex;
  column-gap: 20px;
  color: #000;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

#trash-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

#trash-btn img {
  width: 50%;
}

#trash-btn:hover {
  border-radius: 100%;
  background-color: #efefef;
}

#task-title {
  flex: 1;
  font-size: 1rem;
  border: none;
  padding: 10px;
}

#task-title:focus {
  outline: none;
}

#checkbox {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}
